.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
  
.child {
    width: 100%;
    max-width: 400px;
}
  
.form-title {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
  
.login-form {
    display: flex;
    flex-direction: column;
}
  
.mat-form-field {
    width: 100%;
}
  
button {
    width: 100%;
}
  
@media (max-width: 768px) {
    .parent {
      padding: 0 10px;
    }
  
    .child {
      max-width: 100%;
    }
}
  
.register-text {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    padding: 2px;
}
  
a {
    margin-left: 5px;
    text-decoration: none;
    color: blue;
}