<div class="container">
    <div mat-dialog-title class="title-container">
        <h1>Đăng ký</h1>
    </div>
    <div mat-dialog-content>
        <form [formGroup]="validateForm">
            <div class="row">
                <mat-form-field appearance="outline" class="form-field">
                    <input matInput type="text" placeholder="Nhập email">
                </mat-form-field>
                <mat-form-field appearance="outline" class="form-field">
                    <input matInput type="text" placeholder="Nhập password">
                </mat-form-field>
            </div>
        </form>
    </div>
    
</div>