<div class="container">
  <div [formGroup]="weekForm">
    <mat-form-field appearance="outline">
      <mat-label> Tuần </mat-label>
      <mat-select formControlName="selectedWeek">
        <mat-option *ngFor="let week of weeks" [value]="week">
          {{ formatDate(week.startDate) }} - {{ formatDate(week.endDate) }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8">
    <table #table mat-table [dataSource]="dataSource" class="mat-elevation-z8 responsive-table">
      <!-- Cột thời gian -->
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> {{ element.time }} </td>
      </ng-container>
  
      <!-- Cột các ngày trong tuần -->
      <ng-container [matColumnDef]="day" *ngFor="let day of days; let j = index">
        <th mat-header-cell *matHeaderCellDef> {{ day }} </th>
        <td mat-cell *matCellDef="let element; let i = index"
                    [ngClass]="{'selected': element.daysData[day] === 1}"></td>
      </ng-container>
      
      <!-- Xác định các hàng và cột -->
      <tr mat-header-row *matHeaderRowDef="['time'].concat(days)"></tr>
      <tr mat-row *matRowDef="let row; columns: ['time'].concat(days);"></tr>
    </table>
  </div>
</div>
