<div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef> STT </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Tên Thuốc </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef> Số Lượng </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.quantity}} </mat-cell>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="unit">
          <mat-header-cell *matHeaderCellDef> Đơn Vị Tính </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.unit}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="usage">
          <mat-header-cell *matHeaderCellDef> Liểu Dùng </mat-header-cell>
          <mat-cell *matCellDef="let element"> 10 </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="edit">
          <mat-header-cell *matHeaderCellDef> Sửa </mat-header-cell>
          <mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" (click)="openEditForm(element)">
                  <mat-icon>edit</mat-icon>
              </button>
          </mat-cell>
      </ng-container>
  
        <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef> Xóa </mat-header-cell>
          <mat-cell *matCellDef="let element">
              <button mat-icon-button color="warn" (click)="openDeleteForm()">
                  <mat-icon>delete</mat-icon>
              </button>
          </mat-cell>
      </ng-container>
      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  
  <button mat-raised-button color="primary" class="custom-button" (click)="openAddForm()"> Thêm Thiết Bị </button>