<form [formGroup]="specForm" (ngSubmit)="onFormSubmit()">
  <mat-form-field appearance="outline">
    <mat-label> Nhập tên chuyên ngành </mat-label>
    <input matInput type="text" formControlName="name">
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8" formArrayName="listServices">
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let i = index"> {{i + 1}} </mat-cell>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="edit">
          <mat-header-cell *matHeaderCellDef class="center-cell"> Edit </mat-header-cell>
          <mat-cell *matCellDef="let element" class="center-cell">
              <button mat-icon-button color="primary" (click)="openEdit(element)">
                  <mat-icon>edit</mat-icon>
              </button>
          </mat-cell>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef class="center-cell"> Delete </mat-header-cell>
          <mat-cell *matCellDef="let element" class="center-cell">
              <button mat-icon-button color="warn" (click)="removeService(element.index)">
                  <mat-icon>delete</mat-icon>
              </button>
          </mat-cell>
      </ng-container>
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    
    <mat-toolbar>
      <mat-toolbar-row class="center-cell">
          <button mat-icon-button (click)="addNewService()" type="button">
              <mat-icon>add_circle_outline</mat-icon>
          </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <button mat-raised-button class="custom-button" color="primary" type="submit">Lưu thông tin</button>
</form>