<div class="container">
    <div class="mat-elevation-z8">
        <table mat-table class="mat-elevation-z8" [dataSource]="dataSource">
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> Stt </th>
                <td mat-cell *matCellDef="let i = index"> {{i + 1}} </td>
            </ng-container>

            <ng-container matColumnDef="patient">
                <th mat-header-cell *matHeaderCellDef> Bệnh nhân </th>
                <td mat-cell *matCellDef="let element"> {{element.patient}} </td>
            </ng-container>

            <ng-container matColumnDef="doctor">
                <th mat-header-cell *matHeaderCellDef> Bác sĩ </th>
                <td mat-cell *matCellDef="let element"> {{element.doctor}} </td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Ngày khám </th>
                <td mat-cell *matCellDef="let element"> {{formatDate(element.date)}} </td>
            </ng-container>

            <ng-container matColumnDef="hour">
                <th mat-header-cell *matHeaderCellDef> Giờ khám </th>
                <td mat-cell *matCellDef="let element"> {{element.hour}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>
</div>
