.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.row {
    display: flex;
    gap: 20px;

    & mat-form-field {
        width: 300px;
    }
}

form {
    display: flex;
    flex-direction: column;

    & button {
        align-self: center;
    }
}

.text-container {
    & mat-form-field {
        width: 620px;
    }
}