mat-form-field {
    width: 100%;
}

.row {
    display: flex;
    gap: 20px;
  
    & mat-form-field {
      width: 100%;
    }
}

.action {
    padding: 0 25px 20px;
  
    & button {
      flex: 1;
    }
}